*{
	padding: 0;
	margin: 0;
}

body{
	background: #000000;
	overflow-y: hidden;
	overflow-x: hidden;
}

.scrollX{
	display: flex;
	align-items: flex-start;

	width: 600vw;
	height: 100vh;
}

.section1{
	width: 100vw;
	height: 100vh;
	background: green;


}

.section2{
	width: 100vw;
	height: 100vh;
	background: yellow;


}

.section3{
	width: 100vw;
	height: 100vh;
	background: red;


}

.section4{
	width: 100vw;
	height: 100vh;
	background: orange;


}

.section5{
	width: 100vw;
	height: 100vh;
	background: yellow;

}

.section6{
	width: 100vw;
	height: 100vh;
	background: green;


}




