@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {

  --bebasFontFam: "Bebas Neue", sans-serif;
  /* Value can start in 400 */
  --bebasFontWeight: bold;
  --bebasFontStyle: normal;

  --greenColor: #006341;
  --whiteColor: #FFFFFF;

  --ralewayFontFam: "Raleway", sans-serif;
  --ralewayFontOptical: auto;
  /* Use a value from 100 to 900 */
  --ralewayFontWeight: 400;
  --ralewayFontStyle: normal;

  --ralewayBold: 700;

	/*  grayfont */
	--grayFont: #595959;

}

.flex_container {
	display: flex;
	flex-direction: row;
/*	 
	add 100 if additional slide is neeed
	100vw = 1 entire slide
*/
	width: 700vw;
	height: 100%;
}



.intro_container {
	position: relative;
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	box-sizing: border-box;
	overflow: visible;
}

.logo_container {
	position: absolute;
	width: 90%;
	height: auto;
	left: 20px;
	top: 30px;

	display: flex;
	column-gap: 40px;
	justify-content: flex-start;
	align-items: center;
}

.acLogo {
	width: 320px !important;
}

.icon_modalcontainer {
	display: flex;
	flex-direction: column;
	width: 25px;
	position: relative;
}

.modal {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 3000%;
	background: var(--whiteColor);
	padding: 40px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
	z-index: 1;
}

.modal_h1 {
	font-family: var(--ralewayFontFam);
	font-optical-sizing: var(--ralewayFontOptical);
	font-weight: 700;
	font-style: var(--ralewayFontStyle);
	color: var(--greenColor);
	font-size: 1.25em;
	line-height: 1.30em;
}

.modal_p {
	padding: 10px 0 0 0;

	font-family: var(--ralewayFontFam);
	font-optical-sizing: var(--ralewayFontOptical);
	font-weight: 400;
	font-style: var(--ralewayFontStyle);
	color: var(--grayFont);
	font-size: 1em;
	line-height: 1.5em;
}

.modal_p span {
	font-weight: var(--ralewayBold);
}

.infoIcon,
.xIcon {
	width: 25px;
	height: auto;
	cursor: pointer;
	z-index: 2;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.intro_headlineContainer {
	width: 100%;
}

.intro_h1Container {
	padding: 150px 0 0;
	box-sizing: border-box;
}

.intro_h1Txt {
	text-align: right;
	font-family: var(--bebasFontFam);
	font-weight: var(--bebasFontWeight);
	font-style: var(--bebasFontStyle);
	color: var(--greenColor);
	font-size: 7vw;
	line-height: auto;
}

.intro_subheadlineContainer {
	text-align: right;
}

.intro_subheadlineTxt {
	font-family: var(--ralewayFontFam);
	font-optical-sizing: var(--ralewayFontOptical);
	font-weight: var(--ralewayFontWeight);
	font-style: var(--ralewayFontStyle);
	font-size: 2.5vw;
	color: #505050;
}

.intro_row2 {
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 0 0 0;
	box-sizing: border-box;
}

.intro_bannerImgContainer {
	width: 50%;
	display: flex;
	justify-content: center;
	min-width: 400px;
}

.home_bannerImg {
	width: 100%;
	min-width: 300px;
	max-width: 550px;
}

.applyNow_container {
	width: 50%;
	display: flex;
	justify-content: center;
	position: relative;
	min-width: 200px;
}

.applyNow_circle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--greenColor);
	padding: 20px;
	text-align: center;
	border-radius: 50%;
	width: 130px;
	height: 130px;
	border: none;
	outline: none;
	box-shadow: 0.5em 0.5em 8px rgba(0, 0, 0, 0.8);
	cursor: pointer;
}

.applyNow_txt {
	font-family: var(--ralewayFontFam);
	font-optical-sizing: var(--ralewayFontOptical);
	font-weight: 700;
	font-style: var(--ralewayFontStyle);
	color: var(--whiteColor);
	font-size: 48px;
	line-height: 54px;
}

.showOnMobile {
	display: none;
}

.applyNow_circle:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
}

.intro_photoObject {
	position: absolute;
	top: 0;
	right: 10px;
}

.intro_photoObjectImg {
	width: 200px;
}


/* Tablet */
@media only screen and (max-width: 1024px) {

	.flex_container {
		column-gap: 50px;
	}

  .intro_h1Txt {
    font-size: 4.5em;
    line-height: auto;
  }

  .intro_subheadlineTxt {
    font-size: 1.60em;
    line-height: auto;
  }

  .applyNow_circle {
    width: 60px;
    height: 60px;
  }

  .applyNow_txt {
    font-size: 24px;
    line-height: 30px;
  }

}

/* mobile */
@media only screen and (max-width: 600px) {

	html {
	  -ms-overflow-style: none;
	  /* IE and Edge */
	  scrollbar-width: none;
	  max-width: 100vw !important;
	  overflow: hidden !important;
	  overflow-y: auto !important;
	}
	
	html ::-webkit-scrollbar {
	  display: none;
	}


  body {
    height: auto;
		width: 100vw;

		max-width: 100%;
		max-height: auto;
		
		min-width: 100%;
		min-height: auto;
		overflow: hidden;

  }

  .intro_container {
    width: 100%;
		height: 100vh;
    margin: 0 auto;
  }

  .flex_container {
  	display: flex;
  	flex-direction: column;
  	width: 100vw
  }

  .logo_container {
    position: absolute;
    width: 60%;
    height: auto;
    left: 20px;
    top: 30px;

    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 10px;
    align-items: flex-start;
  }

  .acLogo {
  	min-width: 200px;
  	width: 100% !important;
  }

  .modal {
  	max-width: 250px;
  }

  .intro_h1Container {
    padding: 0 20px 0 20px;
  }

  .intro_h1Txt {
    font-size: 2em;
    line-height: auto;
  }

  .intro_subheadlineContainer {
    padding: 0 20px;
  }

  .intro_subheadlineTxt {
    font-size: 1em;
    line-height: auto;
  }

  .intro_row2 {
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px 0 0 0;
  }

  .intro_bannerImgContainer {
    width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
  }

  .home_bannerImg {
    width: 100%;
  }

  .applyNow_container {
    width: 100%;
  }

  .applyNow_circle {
    position: absolute;
    right: 10px;
    bottom: -30px;
    width: 30px;
    height: 30px;
  }

  .applyNow_txt {
    font-size: 1em;
    line-height: 1.2em;
  }

  .intro_photoObject {
    position: absolute;
    top: 0;
    right: 0px;
  }

  .intro_photoObjectImg {
    width: 125px;
  }
}








 





















